.button {
    height: 35px;
    text-align: center;
    background-color: #144cdb;
    color: white;
    border: none !important;
    line-height: 35px;
}

.button.wide {
    position: relative;
    width: 400px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}

.button.rounded {
    width: 75px;
    padding: 2.5px 15px;
    border-radius: 25px;
}

.toggle-button-wrapper {
    width: 100px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
}
.button.toggle {
    width: 50px !important;
    border-radius: 25px;
    padding: 2.5px 15px;
    background-color: white;
    color: #3362d7;
    border: none;
}
.button.toggle.selected {
    background-color: #144cdb;
    color: white;
}
.button.toggle.selected:hover {
    background-color :#144cdb;
    color: white;
}
.button.toggle:hover {
    background-color: white;
}

.button.plain {
    background-color: white;
    color: black;
}
.button.plain:hover {
    background-color: white;
    color: #3362d7;;
    border-bottom: 1px solid #3362d7;
}

.button:hover {
    cursor: pointer;
    background-color: #3362d7;
}